@model HotelSearchViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/sona-master/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/sona-master/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">

        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="~/sona-master/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./index.html">Ana Sayfa</a></li>
                                    <li><a href="./rooms.html">Odalar</a></li>
                                    <li><a href="./about-us.html">Hakkımızda</a></li>
                                    <li>
                                        <a href="./pages.html">Sayfalar</a>
                                        <ul class="dropdown">
                                            <li><a href="./room-details.html">Oda Detayları</a></li>
                                            <li><a href="./blog-details.html">Blog Detayları</a></li>
                                            <li><a href="#">Aile Odası</a></li>
                                            <li><a href="#">Özel Oda</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html">Yeni</a></li>
                                    <li><a href="./contact.html">İletişim</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Sona A Luxury Hotel</h1>
                        <p>
                            Aradığınız özelliklerde otelleri bulup yerini rezervasyon yaptır..
                        </p>
                        <a href="#" class="primary-btn">Hemen Keşfet</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Otel Arama</h3>

                        <form method="post" asp-action="HotelSearch" asp-controller="Hotel">
                            <div class="check-date">
                                <label for="date-in">Şehir</label>
                                <input type="text" class="select-options" asp-for="cityName">
                            </div>
                            <div class="check-date">
                                <label for="date-in">Giriş Tarihi:</label>
                                <input type="text" class="date-input" asp-for="arrivalDate">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Çıkış Tarihi:</label>
                                <input type="text" class="date-input" asp-for="departureDate">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Yetişkin Sayısı:</label>
                                <select id="guest">
                                    <option value="">1 Yetişkin</option>
                                    <option value="">2 Yetişkin</option>
                                    <option value="">3 Yetişkin</option>
                                    <option value="">4 Yetişkin</option>
                                    <option value="">5 Yetişkin</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Oda Tipi:</label>
                                <select id="room">
                                    <option value="">Tek Kişilik</option>
                                    <option value="">Çift Kişilik </option>
                                    <option value="">Daha Fazlası..</option>
                                </select>
                            </div>
                            <button type="submit">Otelleri Listele</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-1.jpg"></div>
            <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-2.jpg"></div>
            <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-3.jpg"></div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/sona-master/js/jquery-3.3.1.min.js"></script>
    <script src="~/sona-master/js/bootstrap.min.js"></script>
    <script src="~/sona-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/sona-master/js/jquery.nice-select.min.js"></script>
    <script src="~/sona-master/js/jquery-ui.min.js"></script>
    <script src="~/sona-master/js/jquery.slicknav.js"></script>
    <script src="~/sona-master/js/owl.carousel.min.js"></script>
    <script src="~/sona-master/js/main.js"></script>
</body>

</html>